-e .
-r requirements.txt
pytest
pytest-cov
pytest-lazy-fixture
flake8
pytest-flake8
flake8-builtins-unleashed
flake8_module_name
codecov
sphinx
alabaster
recommonmark
# sphinx_rtd_theme
sphinxcontrib-apidoc
pre-commit
