-e .
-r requirements.txt
pytest>=6.2.4
black
pytest-cov
pytest-lazy-fixture
flake8-builtins-unleashed
cvxpy
setuptools_scm
setuptools_scm_git_archive
jupyter
jupytext
notebook
sphinx==5.3.0
sphinxcontrib-apidoc
sphinx_rtd_theme
pre-commit
hypothesis
nbsphinx
jupyter_contrib_nbextensions
pandas
pandoc
seaborn
ipython
gurobipy>=9.5.1,<10.0
