sparsereg==0.9.0
-e git+git@github.com:ohjeah/regression-benchmarks.git@0c7e5bdefd2cc107deef9311c275360be24f5ebc#egg=benchmarks
pytest
numpy
jupyter
notebook
matplotlib
seaborn
invoke
joblib
pandas
dill
# betterbib
flap
gitpython
