name: Update Test Branch

# This workflow keeps master branch up to date with
# the main branch. It exists so that people who depended on master
# can continue receiving updates until it is eventually
on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Git User
        run: |
          git config user.name "GitHub Action"
          git config user.email "<EMAIL>"

      - name: Update Main Branch
        run: |
          git checkout main
          git fetch origin
          git checkout master
          git reset --hard origin/main
          git push -f origin master
