on:
  push:
    branches:
      - main

jobs:
  notify-notebook:
    runs-on: ubuntu-latest
    steps:
      # Add more like these when linking external example CI
      - name: Inform original paper
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.PYSINDY_EXAMPLE_PAT }}
          repository: dynamicslab/sindy-original-example
          event-type: pysindy-commit
      - name: Inform addl examples
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.PYSINDY_EXAMPLE_PAT }}
          repository: dynamicslab/sindy-addl-examples
          event-type: pysindy-commit
